.header {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
margin: 40px;
text-decoration: none;
}
.header_logo {
max-height: 50px ;
}
.header_link {
color: #ff6060;
text-decoration: none;
padding: 10px;
}
